.App {
  text-align: center;
}

@media screen {
  /* Hidden only on screen, not on print */
	.printComponent {
		display: none;
	}
}

.qrReport.title {
  text-align: center;
  margin-top: 20%;
}

.qrReport.id {
  text-align: center;
  margin-bottom: 20%;
}

.qrReport.qrCode {
  display: block;
  margin: auto;
}




body, html{
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: Verdana, sans-serif;
}

.content {
  max-width: 1080px;
  /* width: 90%; */
  margin: 0 auto;
  /* outline: .1rem solid #eee;
  background-color: white; */
  /* border-radius: .5rem; */
}

/* Grid that splits div to 2 cols
For table and search feature */
.tableSplit {
  display: grid;
  grid-template-columns: [first] 60% [second] 40%;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
}

.col2row1 {
  margin-top: 2rem;
}

h1 {
  margin: 0;
  /* margin-top: 2rem; */
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  /* margin-top: 2rem; */
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.csvArchiveCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid lightgray */
}

.dialogMain {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

/* Attendance Page Styles */
/* ---------------------- */
.attendanceCourseInfo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* row-gap: 0rem; */
}

.attendanceFormAndQR {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: fit-content;
  margin: 0 auto;
}

.attendanceSignIn {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.attendanceFormAndQR > .attendanceSigninOR {
  margin-left: 2rem;
  margin-right: 2rem;
}

.attendanceFormAndQR > .attendanceQR {
  justify-self: start;
}

.attendanceFormAndQR > .attendanceForm {
  justify-self: end;
}
/* ---------------------- */


/* .firebase-signin-form {
  outline:auto;
} */

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }
}

.searchQueries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.flexForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  width: 100%;
  height: 10px;
}

.nav-links {
  grid-column: 2;

  display: flex;
  flex-direction: row;

  justify-self: center;
  align-items: center;
  /* justify-content: space-between; */
  /* align-content: space-between; */

  gap: 1rem;
}

.nav-account {
  display: flex;
  grid-column: 3;

  justify-self: right;
  /* justify-content: space-between; */
  align-items: center;
  align-content: space-between;

  /* margin-left: 1rem; */
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 30% [col-start]);
  /* align-items: center; */
  justify-content: space-between;
  /* justify-content: stretch;   */
  /* border-bottom: .1rem solid black; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  /* background-color: white; */
}