.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  table-layout: fixed;
} */

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.deletebtn {
  margin-left: 0;
  left: 0;
}

.courseEntryForm {
  margin-top: 10%;
}

@media screen {
  /* Hidden only on screen, not on print */
	.printComponent {
		display: none;
	}
}

.qrReport.title {
  text-align: center;
  margin-top: 20%;
}

.qrReport.id {
  text-align: center;
  margin-bottom: 20%;
}

.qrReport.qrCode {
  display: block;
  margin: auto;
}

.content {
  max-width: 1080px;
  /* width: 90%; */
  margin: 0 auto;
  outline: auto;
}

.firebase-signin-form {
  outline:auto;
}

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }
}

.searchQueries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  width: 100%;
  height: 10px;
}

.blackout {
  width:100%;
  height:100%; /* make sure you have set parents to a height of 100% too*/
  position: absolute;
  left:0; top:0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10 !important/*just to make sure its on top*/;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-links {
  grid-column: 2;

  display: flex;
  flex-direction: row;

  justify-self: center;
  align-items: center;
  /* justify-content: space-between; */
  /* align-content: space-between; */

  gap: 1rem;
}

.nav-account {
  display: flex;
  grid-column: 3;

  justify-self: right;
  /* justify-content: space-between; */
  align-items: center;
  align-content: space-between;

  /* margin-left: 1rem; */
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 30% [col-start]);
  /* align-items: center; */
  justify-content: space-between;
  /* justify-content: stretch;   */
}
