.App {
  text-align: center;
}

.home {
  text-align: left;
}

@media screen {
  /* Hidden only on screen, not on print */
	.printComponent {
		display: none;
	}
}

.printComponent {
  /* Have to reset bg color, adopts default otherwise */
  background-color: white; 
  padding: 4rem;
  /* width: 80%; */
}

.printText {
  width: 80%;
}

.qrReport.title {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.qrReport.body {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.qrReport.qrCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 48px;
}
.qrReport.qrCodeText {
  margin-top: 16px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}


body {
  overflow-x: hidden;
  width: 100%;
}


body, html{
  margin: 0;
  padding: 0;
  /* background-color: #f6f6f6; */
  font-family: Verdana, sans-serif;
}

.content {
  max-width: 1080px;
  /* width: 90%; */
  margin: 0 auto;
  padding: 1rem;
  /* outline: .1rem solid #eee;
  background-color: white; */
  /* border-radius: .5rem; */
  margin-bottom: 4rem;
}

/* Grid that splits div to 2 cols
For table and search feature */
/* In mobile or small screen, put in 1 column */
@media only screen and (min-width: 768px) {
  .tableSplit {
    display: grid;
    grid-template-columns: [first] 65% [second] 35%;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .tableSplit {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}

.col2row1 {
  margin-top: 2rem;
}

h1 {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.home > h3 {
  all: revert;
  margin-top: 1rem;
  margin-bottom: 0;
}

.home > h2 {
  margin-top: 2rem;
  margin-bottom: .5rem;
}

.home > h1 {
  all: revert;
  text-align: center;
}

.home > ul li {
  margin-top: 1rem;
}


h3 {
  margin: 0;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.csvArchiveCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dialogMain {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

/* Attendance Page Styles */
/* ---------------------- */
.attendanceCourseInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}

.attendanceFormAndQR {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: fit-content;
  margin: 0 auto;
}

.attendanceSignIn {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.attendanceFormAndQR > .attendanceSigninOR {
  margin-left: 2rem;
  margin-right: 2rem;
}

.attendanceFormAndQR > .attendanceQR {
  justify-self: start;
}

.attendanceFormAndQR > .attendanceForm {
  justify-self: end;
}
/* ---------------------- */

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }
}

.searchQueries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.flexForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  width: 100%;
  height: 10px;
}

.nav-title {
  display: flex;
  flex-direction: row;
  grid-column: 1;
  justify-self: start;
  align-items: center;
  margin-left: 1rem;
}

.nav-links {
  grid-column: 2;

  display: flex;
  flex-direction: row;

  justify-self: center;
  align-items: center;

  gap: 1rem;
}

.nav-account {
  display: flex;
  grid-column: 3;

  justify-self: right;
  align-items: center;
  align-content: space-between;
  margin-right: 1rem;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 30% [col-start]);
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.navbarphone {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}