.App {
  text-align: center;
}

@media screen {
  /* Hidden only on screen, not on print */
	.printComponent {
		display: none;
	}
}

.qrReport.title {
  text-align: center;
  margin-top: 20%;
}

.qrReport.id {
  text-align: center;
  margin-bottom: 20%;
}

.qrReport.qrCode {
  display: block;
  margin: auto;
}

.content {
  max-width: 1080px;
  /* width: 90%; */
  margin: 0 auto;
  outline: .1rem solid #eee;
  background-color: white;
  border-radius: .5rem;
}

/* .firebase-signin-form {
  outline:auto;
} */

@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }
}

.searchQueries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.break {
  width: 100%;
  height: 10px;
}

.nav-links {
  grid-column: 2;

  display: flex;
  flex-direction: row;

  justify-self: center;
  align-items: center;
  /* justify-content: space-between; */
  /* align-content: space-between; */

  gap: 1rem;
}

.nav-account {
  display: flex;
  grid-column: 3;

  justify-self: right;
  /* justify-content: space-between; */
  align-items: center;
  align-content: space-between;

  /* margin-left: 1rem; */
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 30% [col-start]);
  /* align-items: center; */
  justify-content: space-between;
  /* justify-content: stretch;   */
  border-bottom: .1rem solid black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

body, html{
  margin: 0;
  padding: 0;
  background-color: #f6f6f6
}
